@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

    --lexend-font: "Lexend", sans-serif;

    --main-color: 0,87,45;
    --white-color: 255,255,255;
    --black-color: 0,0,0;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

*:focus,
*:focus-visible {
    outline: none;
}

input:hover, select:hover, .btn:hover, button:hover, .form-control:hover, textarea:hover, .navbar-toggler:hover, input:focus, select:focus, .btn:focus, button:focus, .form-control:focus, textarea:focus, .navbar-toggler:focus, .btn:first-child:active, .btn-close:focus, button.btn:focus:not(:focus-visible), .form-select:hover, .form-select:focus {
	box-shadow: none;
	outline: 0px;
	border-color: inherit;
}

body {
    font-family: "Poppins", sans-serif;
    position: relative;
}
ul,ol{
    margin: 0%;
    padding: 0%;
}
a{
    text-decoration: none;
    color: #000;
}
li{
    list-style: none;
}
.row{
    gap: 24px 0px;
}
.common-section{
    padding: 40px 0px;
}
.common-btn{
    /* background-color: rgba(var(--white-color),1); */
    border-radius: 0px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    /* transition: all ease-in-out 0.5s; */
    /* color: rgba(var(--white-color),1); */
    border: 1px solid rgba(var(--main-color),1);
    position: relative;
    overflow: hidden;

    background: rgba(var(--white-color), 1);
    color: rgba(var(--main-color), 1);
    /* border: none; */
}
.common-btn span {
    position: relative;
    z-index: 1;
}
.common-btn::after {
    content: '';
    position: absolute;
    inset: 0px auto auto 0px;
    width: 100%;
    height: 0%;
    background: rgba(var(--main-color), 1);
    /* z-index: -1; */
    transition: all ease-in-out 0.5s;
}
.common-btn:hover{
    color: rgba(var(--white-color),1);
    border: 1px solid transparent;
}
.common-btn:hover::after{
    height: 100%;
}
.common-box > span {
    background: rgba(var(--main-color), 1);
    color: rgba(var(--white-color), 1);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    padding: 5px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.common-box h3 {
    font-family: var(--lexend-font);
    font-size: 34px;
    font-weight: 700;
    color: rgba(var(--main-color),1);
    margin: 10px 0px;
} 
.common-box p {
    font-size: 15px;
    font-weight: 400;
    color: rgba(var(--black-color),1);
    /* margin: 20px 0px; */
    line-height: 28px;
} 

.Whatsaap-icon {
    position: fixed;
    bottom: 5%;
    right: 2%;
    color: rgba(var(--white-color), 1);
    background: #008000;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.Whatsaap-icon:hover {
    color: rgba(var(--white-color), 1);
    background: #008000;
}
/************************************ Header Section **************************************/
.header-section{
    width: 100%;
    height: max-content;
    z-index: 10;
    background: rgba(var(--main-color),1);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
	top: 0;
	z-index: 9999;
	width: 100%;
}
.navbar.header-fixed {
	position: fixed;
    background: rgba(var(--main-color), 1);
	/* background: rgba(14, 13, 14, 0.8); */
    transition: all ease-in-out 0.2s;
	backdrop-filter: blur(5px);
	animation: slideDown 0.35s ease-out;
}
@keyframes slideDown {
	from {
	  transform: translateY(-100%);
	}
	to {
	  transform: translateY(0);
	}
}
.navbar.header-fixed .navbar-brand {
    height: 70px;
    width: 70px;
    padding: 0px;
}
.navbar-brand {
    height: 100px;
    width: 100px;
    border: 1px solid rgba(var(--white-color), 1);
    border-radius: 50%;
    padding: 5px;
}
.navbar-brand img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navbar-nav{
    display: flex;
    gap: 10px;
    margin-right: 20px;
}
.navbar-nav .nav-item a{
    font-family: var(--lexend-font);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: rgba(var(--white-color),1);
    border-bottom: 2px solid transparent;
}
.navbar-nav .nav-item a:hover{
    color: rgba(var(--white-color),0.75);
    /* border-bottom: 2px solid #2D5413; */
    border-radius: 2px;
}
.navbar-nav .nav-item .active{
    color: rgba(var(--white-color),0.75);
}

.head-brand-menu .common-btn{
    font-size: 16px;
    padding: 4px 8px;
}
.navbar-toggler-icon{
    filter: invert(1);
}
.nav-icons{
    display: flex;
    align-items: center;
    gap: 20px;
    border: 0.5px solid rgba(var(--white-color),1);
    padding: 10px;
}
.nav-icons .nav-icon-cart{
    color: rgba(var(--white-color),1);
    font-size: 14px;
    position: relative;
}
.nav-icons .nav-icon-cart span{
    position: absolute;
    top: -18%;
    right: -31%;
    background: #258F67;
    color: #fff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    padding: 8px;
}

/******************************************* Banner Section **************************************/
.banner-section{
    min-height: 90vh;
    height: 100%;
    position: relative;
}
.banner-section::after{
    content: '';
    position: absolute;
    inset: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.5);
}
.banner-content{
    display: flex;
    width: 100%;
    min-height: 90vh;
    height: 100%;
    /* padding: 50px 0px 0px 100px; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    z-index: 1;
}
.banner-content h1{
    font-family: var(--lexend-font);
    font-size: 74px;
    font-weight: 600;
    color: rgba(var(--white-color),1);
}
.banner-content h3{
    font-size: 26px;
    font-weight: 600;
    color: rgba(var(--white-color),1);
    border-radius: 20px;
}



.banner-slider{
    position: relative;
}
.banner-slider.owl-carousel .owl-nav button.owl-prev,.banner-slider.owl-carousel .owl-nav button.owl-next{
    position: absolute;
    top: 50%;
    color: #fff;
    background: #2D5413;
    padding: 4px 10px;
}
.banner-slider.owl-carousel .owl-nav button.owl-prev{
    left: 0%;
}
.banner-slider.owl-carousel .owl-nav button.owl-next{
    right: 0%;
}
.banner-slider.owl-carousel .owl-nav button.owl-prev i,.banner-slider.owl-carousel .owl-nav button.owl-next i{
    font-size: 50px;
}



/********************************* About section ****************************************/
.about-secton {
    position: relative;
    background: no-repeat center bottom / contain;
}
.about-img {
    width: 100%;
    height: 300px;
}
.about-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.abt-box h5 {
    font-family: var(--lexend-font);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 8px;
}

.abt-list li {
    position: relative;
    font-size: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    gap: 8px;
}
.abt-list li i {
    color: rgba(var(--main-color),1);
    font-size: 18px;
}
.abt-recd-box {
    /* background: rgba(var(--main-color), 0.75); */
    background: #ddd;
    box-shadow: 0px 0px 8px -4px rgba(0,0,0, 0.75);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
.abt-recd-box h3 {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(var(--black-color), 1);
}
.abt-recd-box p {
    font-size: 44px;
    font-weight: 700;
    color: rgba(var(--main-color), 1);
    margin-bottom: 0px;
}
/********************************** Product Section *********************************/
.product-section {
    background: no-repeat center center / cover;
    padding: 60px 0px;
}
.product-head {
    text-align: center;
    margin-bottom: 20px;
}
.product-slider {
    position: relative;
}
.product-card .product-img {
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.product-card .product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all ease-in-out 0.5s;
}
.product-content {
    padding: 10px 10px;
    background: rgba(var(--white-color),1);
    border: 1px solid rgba(var(--main-color), 0.3);
    min-height: 200px;
}
.product-content span {
    font-size: 15px;
    font-weight: 500;
    color: rgba(var(--main-color),1);
}
.product-content h3 {
    font-family: var(--lexend-font);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
    color: rgba(var(--black-color),1);
}
.product-content p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0px;
    color: rgba(var(--black-color),1);
    line-height: 24px;
}
.product-content .read-btn {
    padding: 0px;
    color: rgba(var(--main-color), 1);
    text-transform: uppercase;
    font-size: 15px;
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all ease-in-out 0.3s;
}
.product-content .read-btn:hover {
    gap: 10px;
}
.product-card:hover .product-img img {
    transform: scale(1.1);
}
.product-slider {
    position: relative;
}
.product-slider.owl-carousel .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    gap: 6px;
}
.product-slider.owl-carousel .owl-dots button.owl-dot {
    --ehw-sdot: 10px;
    width: var(--ehw-sdot);
    height: var(--ehw-sdot);
    border-radius: 50%;
    background: #A8A8A8;
}
.product-slider.owl-carousel .owl-dots button.owl-dot.active {
    --ehw-sdot: 12px;
    background: rgba(var(--main-color), 1);
}
/***************************************** Contact Us Page ************************/
.contact-section {
    padding: 80px 0px;
}
.form-contact-box label {
    color: rgba(var(--main-color), 1);
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
}
.form-contact-box textarea,.form-contact-box input {
    border-radius: 0px;
    border-color: rgba(var(--main-color),1);
}
.form-contact-box input::placeholder,.form-contact-box textarea::placeholder{
    font-weight: 400;
    color: rgba(0,0,0, 0.5);
}
.contact-list li {
    margin-bottom: 12px;
}
.contact-list li a {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
    color: rgba(var(--black-color),1);
}
.contact-list li a i {
    color: rgba(var(--main-color), 1);
}
/******************************** Footer Section *********************************************/
.footer-section{
    background: rgba(var(--main-color),1);
}
.footer-logo{
    width: 200px;
    height: 100px;
}
.footer-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.footer-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    /* border-right: 1px solid #567F70; */
}
.footer-top{
    padding: 40px 0px;
}

.footer-box .footer-box-para p{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}
.footer-box .footer-follow{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-box .footer-follow li a{
    --ehw-ficon: 30px;
    width: var(--ehw-ficon);
    height: var(--ehw-ficon);
    font-size: 20px;
    color: rgba(var(--main-color), 1);
    background: rgba(var(--white-color), 1);
    border-radius: 8px;
    padding: 7px 12px;
    transition: all ease-in-out 0.5s;
    border: 1px solid transparent;
}
.footer-box .footer-follow li a:hover{
    background: rgba(var(--main-color), 1);
    color: #fff;
    border: 1px solid rgba(var(--white-color), 1);
}
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-box-head h5{
    font-family: var(--lexend-font);
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: uppercase;
}
.footer-list li a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    transition: all ease-in-out 0.5s;
}
.footer-list li a:hover{
    color: #fff;
}
.footer-list li a i{
    color: rgba(var(--white-color), 1);
}
.footer-copyright{
    padding: 20px 0px;
    border-top: 1px solid #707070;
    text-align: center;
}
.footer-copyright p{
    font-weight: 400;
    font-size: 13px;
    color: #fff;
}


/********************************************** Media query ***********************************/
@media (max-width: 1400px){
    .product-btns{
        flex-direction: column;
    }
    .product-btns .common-btn {
        width: 100%;
    }
    .product-name h3 {
        font-size: 20px;
    }
    .product-name span {
        font-size: 24px;
    }
    .ba-img {
        width: calc(100% + 10%);
        height: calc(100% + 21%);
        margin-left: -85px;
        margin-top: -40px;
    }
}

@media (max-width: 1200px){
    
    
    
   
}

@media (max-width: 991px){
    .navbar-collapse {
        position: absolute;
        background: #B5A085;
        width: 100%;
        left: 0;
        top: 90%;
        padding: 15px;
    }
    .banner-content {
        padding: 50px 0px 0px 0px;
    }
    .banner-content .common-para{
        width: 70%;
    }
    .common-btn {
        padding: 4px 12px;
    }
    .common-section {
        padding: 40px 0px;
    }
    .common-box h3 {
        font-size: 28px;
    }
    .banner-content h3 {
        font-size: 20px;
    }

}

@media (max-width: 768px){
    .navbar-brand {
        width: 70px;
        height: 70px;
    }
    .banner-section {
        min-height: 60vh;
    }
    .product-btns{
        flex-direction: row;
    }
    .head-form{
        order: 1;
        width: 100%;
        margin: 10px 0px;
    }
    .banner-content {
        min-height: 60vh;
    }
    .banner-content h1 {
        font-size: 50px;
    }
    .abt-recd-box p {
        font-size: 34px;
    }
    .product-content span {
        font-size: 13px;
    }
    .product-content h3 {
        font-size: 15px;
    }
    .contact-list li a {
        font-size: 15px;
    }
    .product-content {
        min-height: auto;
        width: 100%;
    }
}

@media (max-width: 580px){
    .banner-content h1 {
        font-size: 40px;
    }
    .banner-btn {
        flex-direction: column;
    }
    .banner-content {
        min-height: 50vh;
    }
    .banner-section {
        min-height: 50vh;
    }
    .navbar-brand {
        width: 60px;
        height: 60px;
        padding: 0px;
    }
    .common-box h3 {
        font-size: 20px;
    }
    .common-box > span {
        font-size: 13px;
    }
    .abt-box h5 {
        font-size: 16px;
    }
    .navbar.header-fixed .navbar-brand {
        height: 50px;
        width: 50px;
    }
    .footer-box .footer-box-para p {
        font-size: 13px;
    }
    .footer-box-head h5 {
        font-size: 16px;
    }
    .footer-list li a {
        font-size: 13px;
    }
    .footer-copyright {
        padding: 15px 0px;
    }
    .footer-copyright p {
        margin-bottom: 0px;
        font-size: 12px;
    }
    .footer-top {
        padding: 20px 0px;
    }
    .common-box p {
        line-height: 24px;
    }
}
